<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Eau</title>
</head>
<body>


    <h1>Mon Eau</h1>

    <form method="POST" action="/select_city">
        <p>Saisissez votre code postal :</p>
        <input name="data_form" id="city_code" type="text" id="numero" maxlength="5" pattern="\d{5}" title="Veuillez entrer exactement 5 chiffres." value="31000">
        <button> button </button>
    </form>



    
</body>
</html>